.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-items {
  background-color: grey;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
